* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
body {
    background-color: #111111;
}

.main_header {
    margin-top: 3%;
    text-align: center;
    font-size: 80px;
    font-family: sans-serif;
    color: white;
    text-shadow: 3px 3px 10px rgb(123, 255, 0);
}
 
i {
    color: white;
    position: absolute;
    font-size: 65px;
    margin-left: 100px;
    margin-top: 20px;
    transition: 0.3s;
    text-shadow: 2px 2px 5px black;
}
i:hover {
    transform: scale(1.3);
    cursor: pointer;
    text-shadow: 2px 2px 5px rgb(123, 255, 0);
}
 
canvas#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
 
.wrapper {
    display: flex;
    padding: 32px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.ruchy, .czas, .pary {
  width: 120px;
  padding: 10px 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.08);
  border: 0.5px solid rgba(255,255,255,0.15);  
}
 
.ruchy-tekst, .czas-tekst, .pary-tekst {
    color: rgba(255,255,255,0.45);
    font-size: 20px;
}
 
.ruchy-liczba, .czas-liczba, .pary-liczba {
    color: white;
    font-size: 30px;
}
 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}
 
.nowa-gra {
  margin: 20px;
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgba(255,255,255,0.08);
  border: 0.5px solid rgba(255,255,255,0.15);
  color: white;
  transition: background 0.5s ease;
 
  &:hover {
    background-color: rgba(255,255,255,0.15);
  }
}